<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="ru.nbsp.pushka"
    xmlns:android="http://schemas.android.com/apk/res/android"
    >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.login.LoginActivity"
            android:theme="@style/TranslucentStatusBarTheme"
            />
        <activity
            android:name=".presentation.settings.SettingsActivity"
            android:label="@string/title_settings"
            />
        <activity
            android:name=".presentation.source.feed.SourcesActivity"
            android:label="@string/empty"
            />
        <activity android:name=".presentation.navigation.NavigationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.alert.detail.AlertActivity"
            android:label="@string/empty"/>
        <activity
            android:name="com.vk.sdk.VKServiceActivity"
            android:label="ServiceActivity"
            android:theme="@style/VK.Transparent"/>
        <activity
            android:name=".presentation.subscription.subscribe.SubscribeActivity"
            android:label="@string/title_activity_test"
            />

        <service android:name=".service.api.ApiAuthService"/>
        <service android:name=".service.api.ApiAlertService"/>
        <service android:name=".service.api.ApiSourceService"/>
        <service android:name=".service.api.ApiSubscriptionService"/>
    </application>
</manifest>
